---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
<html>
{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

Here is a sample of projects I have done in my courses at the University of Chicago.

<h2> <a href="https://munifinance.uchicago.edu/data_dashboard/" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">CMF Data Dashboard</span></strong></a> </h2>
My work with the University of Chicago's Center for Municipal Finance involved creating their "Data Dashboard", which provides users with a range of data visualizations concerning municipal bond trading, pricing, and liquidity measures, 
  which have been featured in multiple media outlets. This required me to use SQL and R to automate the entire process, from data pulling to exporting of the graphs. Using the Highcharter package in R, I create the HTML figures (with one example below). <br>
<br>
 <div><iframe style="border:#862633; border-width:20px; border-style:solid;" src="https://wrjanson.s3.us-east-2.amazonaws.com/muni_vix.html" width="80%" height="500px" align="center"></iframe></div>

<h2> <a href="https://github.com/Wesley-Janson/stat27420_final_project" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">STAT 27420: Causal Inference with Machine Learning</span></strong></a> </h2>
This final paper for STAT 27420: Causal Inference with Machine Learning (written with Drew Keller) was completed in the Fall 2022 quarter. We revisited "Inflation Expectations and Readiness to Spend: Cross-Sectional Evidence", written by Rüdiger Bachmann, Tim O. Berg and Eric R. Sims.
They explore the relationship between 1-year expected inflation and consumer spending attitudes-more specifically, durable goods purchasing. We proposed an alternative, non-parametric methodology implementing the augmented inverse probability of treatment weighting 
(AIPTW) estimator with gradient-boosted random forests. We found similar results to Bachmann et al: a generally small but significant average negative effect of consumer inflation expectations on attitudes towards spending on durable goods. <br>
 
 <div><iframe src="https://Wesley-Janson.github.io/_pages/STAT_27420_Final_Paper.pdf" width="90%" height="475px" align="center"></iframe></div>  
  
<h2> <a href="https://github.com/angelathe/classifying-opioid-use" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">CAPP 30254: Machine Learning for Public Policy</span></strong></a> </h2>
As the final project for the required CAPP 30254: Machine Learning for Public Policy, I wrote (with Matt Kaufmann, Piper Kurtz, Angela The and Eujene Yum) "Classifying Opioid Prescription Using Machine Learning Techniques". This project saught out to address the
debilatating opioid crisis the United States currently suffers from by first asking the question: <i> who </i> gets prescribed opioids? We fit five different machine learning models in an attempt to answer that question. With each, we find varying, but promising degrees of success. We found that the random forest algorithm had the highest accuracy
of classification, but our decision tree performed the best with respect to recall.
  
 <div><iframe src="https://Wesley-Janson.github.io/_pages/Classifying_Opioid_Prescriptions.pdf" width="90%" height="475px" align="center"></iframe></div>  

<h2> <a href="https://github.com/uchicago-CAPP30122-win-2022/proj-lamonty-python" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">CAPP 30122: Computer Science with Applications 2</span></strong></a> </h2>
As a capstone project for the second quarter of the core computer programming in Python sequence, my group created a user interface using the University of Chicago's Virtual Desktop.
This project enabled the exploration of various demographic, economic, and political features on federal government aid to counties after natural disasters in the U.S. We collected data 
from several government sources, including the Census Bureau and FEMA, to capture demographic, economic, and natural disaster measures. Our project included a Plotly Dash interface where 
users could interact with the data to explore the relationship between various demographic variables and FEMA aid provided to counties affected by natural disasters.

</html>
