---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

Here is a sample of projects I have done at the University of Chicago. Please stay tuned as I update this page!

<h2> <a href="https://munifinance.uchicago.edu/data_dashboard/" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">CMF Data Dashboard</span></strong></a> </h2>

<h2> <a href="https://github.com/Wesley-Janson/stat27420_final_project" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">STAT 27420: Causal Inference with Machine Learning</span></strong></a> </h2>

<h2> <a href="https://github.com/angelathe/classifying-opioid-use" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">CAPP 30254: Machine Learning for Public Policy</span></strong></a> </h2>

<h2> <a href="https://github.com/uchicago-CAPP30122-win-2022/proj-lamonty-python" data-sf-ec-immutable="" data-sf-marked="" target="_blank" rel="noopener"><strong><span style="text-decoration: underline;">CAPP 30122: Computer Science with Applications 2</span></strong></a> </h2>
