---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}

Here is a sample of projects I have done at the University of Chicago. Please stay tuned as I update this page!

<h2> [CMF Data Dashboard](https://munifinance.uchicago.edu/data_dashboard/) </h2>

<h2> [STAT 27420: Causal Inference with Machine Learning Final Paper](https://github.com/Wesley-Janson/stat27420_final_project) </h2>

<h2> [CAPP 30254: Machine Learning Final Paper](https://github.com/angelathe/classifying-opioid-use) </h2>

<h2> [CAPP 30122: Final Project](https://github.com/uchicago-CAPP30122-win-2022/proj-lamonty-python) </h2>
